.we_create_h1 {
  font-family: 'Inter', sans-serif;
  font-size: 52px;
  line-height: 140%;
  font-weight: 600;
  width: 100%;
  color: var(--bird-blue-grey-1000);
}

.we-creating {
    height: auto !important;
}

@media (max-width: 450px){
  .we_create_h1 {
    font-size: 24px;
    line-height: 130%;
    margin: 0 16px 16px 16px;
    width: auto;
  }
}