@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700;800&display=swap');

/*********************************** HERO SECTION ***************************/
.hero_section {
  background-image: url(/imgs/img_bg.png);
  background-size: cover;
  height: 100vh;
}

.hero_centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.hero_section h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  margin-bottom:24px;
}

.hero_we {
  color: var(--primary-900);
  font-weight: 600;
}

.hero_simplified {
  color: var(--bird-blue-grey-1000);
  font-weight: 700;
}

.hero_you {
  color: var(--primary-700);
  font-weight: 700;
}

.hero_section p {
  font-weight: 400;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.btn-main {
  padding: 10px 15px;
  background-color: var(--primary-600);
  font-size: 14px;
  color: var(--white);
}

.btn-secs {
  padding: 10px 15px;
  background-color: var(--white);
  border: 1px solid var(--primary-600);
  font-size: 14px;
  color: var(--primary-600);
}

@media(max-width: 450px){
  .hero_section {
    background-position: 30% 0%;
    height: 90vh;
  }

  .hero_centered {
    padding-top: 20px;
    gap: unset;
  }

  .hero_section h1 {
    font-size: 32px;
  }

  .hero_section p {
    font-size: 16px;
  }

  .buttn {
    width: 100%;
    display: inline-block;
  }

  .buttn2{
    width: 100%;
    margin-top: 10px !important;
    display: inline-block;
  }
}

@media(max-height: 600px){
  .hero_section {
    height: 105vh;
  }
}

/*********************************** PARTNERS SECTION ***************************/
.partners_section {
  background-color: var(--primary-100);
}

.partner_logo_cont {
  width: 6rem;
}

@media(max-width: 576px){
  .partners_section{
    display: none;
  }
}

/*********************************** SERVICES SECTION ***************************/
.services_section {
  background-color: var(--pink-variant);
}

.services_section .small_header {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.services_section .big_header{
  font-weight: 800;
  font-size: 32px;
  line-height: 24px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.services_col {
  border-radius: var(--border-radius8);
  background-color: var(--primary-1000);
}

.services_col h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--bird-blue-grey-100);
  letter-spacing: 0.02em;
}

.services_col p {
  font-weight: 500;
  color: var(--bird-blue-grey-200);
  font-size: 16px;
  line-height: 24px;
}

@media(max-width:450px){
  .services_section .small_header {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .services_section .small_header {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .services_section .big_header{
    font-size: 20px;
    line-height: 120%;
  }

  .services_col h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }

  .services_col p {
    font-weight: 500;
    color: var(--bird-blue-grey-200);
    font-size: 14px;
    line-height: 120%;
  }
}

/*********************************** WORKS SECTION ***************************/
.works_img_cont {
  width: 15rem;
  height: 25rem;
  border-radius: 8px;
}

.works_img_cont1 {
  background-color: var(--green-variant);
}
.works_img_cont2 {
  background-color: var(--purple-variant);
}
.works_img_cont3 {
  background-color: var(--blue-variant);
}
.works_img_cont4 {
  background-color: var(--pink-variant);
}

.works_section .big_header {
  max-width: 808px;
  line-height: 130%;
}

.works_section .metrics {
  max-width: 1200px;
}

.works_section h3 {
  font-weight: 600;
  color: var(--bird-blue-grey-1000);
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.works_section p.lead {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0.02em;
}

.works_section h5 {
  color: var(--bird-blue-grey-1000);
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Manrope', sans-serif;
}

.project_desc {
  color: var(--bird-blue-grey-900);
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
}

.single-work {
  height: 536px;
}

@media(max-width: 450px){
  .single-work {
    height: 400px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .works_section h3 {
    font-size: 24px;
  }

  .works_section p.lead {
    font-size: 12px;
  }

  .works_section h5 {
    font-size: 16px;
    line-height: 16px;
  }

  .works_section .big_header{
    font-size: 20px;
    line-height: 120%;
  }

  .works_section .small-title{
    padding: 0;
  }

  .project_desc {
    font-size: 14px;
    line-height: 150%;
  }
}

/*********************************** TESTIMONIALS SECTION ***************************/
.testimonials_section {
  background-color: var(--primary-1000);
}

.testimonials_section .small_header {
  color: var(--bird-blue-grey-200);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.testimonials_section .big_header {
  color: var(--bird-blue-grey-100);
}

.testimonials_img_cont {
  width: 19rem;
  border: 1px solid #2da9df;
  height: 25rem;
  width: 25rem;
  border-radius: 100%;
  position: relative;
}
.testimonials_img_cont > div {
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  border: 1px solid #2da9df;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}

.testimonials_img_cont img {
  width: 100%;
}

@media(max-width: 450px){
  .testimonials_section {
    padding: 48px 16px;
  }
  .testimonials_section .big_header {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 24px !important;
  }
}

/* 576px */
@media (max-width: 36em) {
  .testimonials_img_cont {
    width: 90%;
    height: 18rem;
  }
  .testimonials_img_cont > div {
    max-height: 4rem;
    max-width: 4rem;
    bottom: 0.5rem;
    right: 1rem;
  }

  .arrows_cont {
    left: 50%;
    transform: translateX(-25%);
  }
}

/* 320px */
@media (max-width: 20em) {
  .arrows_cont {
    left: 45%;
    transform: translateX(-30%);
  }
}

.t_text_cont {
  max-width: 32rem;
}

.t_text {
  color: var(--bird-blue-grey-200);
  font-size: 20px;
  line-height: 140%;
}

/*********************************** BLOGLIST SECTION ***************************/

/*********************************** HERO SECTION ***************************/

.blog {
  margin-top: 4.25rem;
}
.blog-img img {
  width: 100%;
  border-radius: var(--border-radius8);
}

.date1 {
  background-color: var(--primary-600);
  color: var(--bird-blue-grey-100);
  width: max-content;
  font-size: 12px;
  font-weight: 800;
  line-height: 14px;
  padding: 4px 12px;
}
.blog-text-h1 {
  font-weight: 700;
  width: 100%;
  font-size: 60px;
  line-height: 120%;
  color: #384147;
}

.blog-text-p {
  font-weight: 400;
  width: 100%;
  font-size: 24px;
  line-height: 33px;
  color: #505C65;
}
.bloglist-head p {
  color: var(--bird-blue-grey-1000);
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
}

.bloglist .date {
  color: var(--bird-blue-grey-600);
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
}

.bloglist .head {
  color: var(--bird-blue-grey-1000);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}
.bloglist .text {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  color: var(--bird-blue-grey-1000);
  width: 100%;
  min-height: 4.76rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.bloglist img {
  height: 250px;
}
.buttn {
  color: var(--white);
  background-color: var(--primary-600);
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding: 12px 16px;
  border-radius: var(--border-radius4);
  border: none;
}
/*********************************** BLOGPAGE SECTION ***************************/

.link {
  background-color: var(--primary-100);
  height: 4.5rem;
}

.inner-link a {
  text-decoration: none;
  color: var(--gray-900);
  font-size: 1rem;
}

.blog {
  font-weight: 700;
}

span.blog {
  font-size: 20px;
  line-height: 100%;
}

.inner-link2 a {
  text-decoration: none;
  color: var(--gray-900);
  font-size: 0.874rem;
  font-weight: 400;
  margin-right: 100px;
}
.inner-link2 {
  margin-left: 1rem;
}
.blogpage {
  padding-bottom: 20rem;
}
.container-div {
  background-color: #fafbfc;
}
.container-div h1 {
  color: var(--bird-blue-grey-1000);
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.5rem;
}
.inner-link3 {
  text-decoration: none;
  color: var(--gray-900);
  font-size: 1rem;
  font-weight: 400;
}
.inner-link3 a {
  text-decoration: none;
  color: var(--gray-900);
  font-size: 1rem;
  font-weight: 400;
}

.blog_author {
  padding-right: 20px;
  border-right: 1px solid #B1B1B1;
}

.blog_date {
  margin-left: 20px;
}

.container-div .img img {
  height: 30rem;
  width: 100%;
}
.p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--bird-blue-grey-1000);
}
.discussion {
  overflow-x: hidden;
}
.discussion h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--bird-blue-grey-1000);
}
.textarea {
  background-color: var(--primary-100);
  border: 1px solid var(--bird-blue-grey-600);
  width: 100%;
}
.textarea {
  font-size: 0.875rem;
}

.blogpage2 img {
  width: 100%;
  height: 14.75rem;
}
.blogpage2-head {
  color: black;
  width: 100%;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.blogpage2 .date {
  color: var(--bird-blue-grey-600);
  font-weight: 800;
  font-size: 0.7rem;
  line-height: 0.87rem;
}
.blogpage2 .head {
  color: var(--bird-blue-grey-1000);
  width: 100%;
  height: 3.6rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.blogpage2 .text {
  color: var(--bird-blue-grey-1000);
  width: 100%;
  height: 4.76rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}
.form {
  border: 1px solid var(--primary-600);
  border-radius: var(--border-radius8);
}
.form p {
  color: var(--bird-blue-grey-900);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
}

.form input {
  width: 100%;
  background-color: var(--primary-100);
  border: 1px solid #9ca3af;
  border-radius: var(--border-radius4);
}
.form .buttn {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}
input:focus {
  outline: none;
  border: 1px solid var(--primary-600);
}

/*********************************** BLOGPAGE SECTION RESPONSIVENESS ***************************/

@media (min-width: 280px) and (max-width: 320px) {
  .inner-link a {
    font-size: 0.9rem;
  }
  .blog {
    font-weight: 700;
  }
  .link {
    height: 6rem;
  }
  .inner-link2 a {
    font-size: 0.7rem;
  }
  .inner-link2 {
    margin-left: 1rem;
  }

  .container-div h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  .inner-link3 {
    font-size: 0.9rem;
  }
  .inner-link3 a {
    font-size: 0.9rem;
  }

  .container-div .img img {
    object-fit: cover;
    height: 15rem;
    border-radius: var(--border-radius8);
  }
  .p {
    text-align: justify;
  }
  .discussion {
    overflow-x: hidden;
  }
  .discussion h3 {
    font-size: 1.4rem;
  }

  .textarea {
    font-size: 0.775rem;
  }
  .discussion .d-flex {
    display: flex;
    justify-content: center;
  }
  .discussion .buttn {
    padding: 0.5rem;
  }

  .blogpage2 img {
    object-fit: cover;
    height: 10rem;
    border-radius: var(--border-radius8);
  }

  .blogpage2-head {
    font-size: 1.4rem;
  }
  .blogpage2 .head {
    height: 3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .blogpage2 .text {
    height: 6.76rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .blogpage {
    padding-bottom: 5rem;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .link {
    height: 6rem;
  }

  .inner-link2 a {
    font-size: 0.8rem;
  }

  .container-div h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  .inner-link3 {
    font-size: 0.9rem;
  }
  .inner-link3 a {
    font-size: 0.9rem;
  }

  .container-div .img img {
    object-fit: cover;
    height: 15rem;
    border-radius: var(--border-radius8);
  }
  .p {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .discussion {
    overflow-x: hidden;
  }
  .discussion h3 {
    font-size: 1.12rem;
  }

  .textarea {
    font-size: 0.9rem;
  }
  .discussion .d-flex {
    display: flex;
    justify-content: center;
  }
  .discussion .buttn {
    padding: 0.5rem;
  }

  .blogpage2 img {
    object-fit: cover;
    height: 10rem;
    border-radius: var(--border-radius8);
  }

  .blogpage2-head {
    font-size: 1.4rem;
  }
  .blogpage2 .head {
    height: 3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .blogpage2 .text {
    height: 4rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .blogpage {
    padding-bottom: 5rem;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .link {
    height: 6rem;
  }

  .inner-link2 a {
    font-size: 0.8rem;
  }

  .container-div h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  .inner-link3 {
    font-size: 0.9rem;
  }
  .inner-link3 a {
    font-size: 0.9rem;
  }

  .container-div .img img {
    object-fit: cover;
    height: 15rem;
    border-radius: var(--border-radius8);
  }
  .p {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .discussion {
    overflow-x: hidden;
  }
  .discussion h3 {
    font-size: 1.12rem;
  }

  .textarea {
    font-size: 0.9rem;
  }
  .discussion .d-flex {
    display: flex;
    justify-content: center;
  }
  .discussion .buttn {
    padding: 0.5rem;
  }

  .blogpage2 img {
    object-fit: cover;
    height: 10rem;
    border-radius: var(--border-radius8);
  }

  .blogpage2-head {
    font-size: 1.4rem;
  }
  .blogpage2 .head {
    height: 3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .blogpage2 .text {
    height: 6rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .blogpage {
    padding-bottom: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .flex-view {
    display: flex;
    margin-bottom: 5rem;
  }
  .blogpage2 .head {
    height: 4rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .discussion .buttn {
    padding: 0.5rem;
  }
  .blogpage {
    padding-bottom: 10rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .blogpage2 .head {
    height: 4rem;
  }

  .blogpage2 .text {
    height: 6rem;
  }
  .discussion .buttn {
    padding: 0.5rem;
  }
  */ .blogpage {
    padding-bottom: 5rem;
  }
}
/*********************************** BLOGLIST SECTION RESPONSIVENESS ***************************/

@media (min-width: 280px) and (max-width: 320px) {
  .blog-img img {
    object-fit: cover;
    height: 15rem;
    border-radius: var(--border-radius8);
    margin-bottom: 0.6rem;
  }

  .date1 {
    width: 6rem;
    font-size: 12px;
  }
  .blog-text-h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .blog-text-p {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .bloglist .date {
    color: var(--bird-blue-grey-600);
    font-weight: 800;
    font-size: 0.7rem;
    line-height: 0.87rem;
  }

  .bloglist .head {
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 5.5rem;
  }
  .bloglist .text {
    height: 6rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .buttn-cont {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

@media (width: 320px) {
  .bloglist .head {
    height: 3.5rem;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .blog-img img {
    object-fit: cover;
    height: 15rem;
    border-radius: var(--border-radius8);
    margin-bottom: 0.6rem;
  }

  .date1 {
    width: 6rem;
    font-size: 12px;
  }
  .blog-text-h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .blog-text-p {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .bloglist .date {
    color: var(--bird-blue-grey-600);
    font-weight: 800;
    font-size: 0.7rem;
    line-height: 0.87rem;
  }

  .bloglist .head {
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 4rem;
  }
  .bloglist .text {
    height: 6rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .buttn-cont {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .blog-img img {
    object-fit: cover;
    height: 15rem;
    border-radius: var(--border-radius8);
    margin-bottom: 0.6rem;
  }

  .date1 {
    width: 6rem;
    font-size: 12px;
  }
  .blog-text-h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .blog-text-p {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .bloglist .date {
    color: var(--bird-blue-grey-600);
    font-weight: 800;
    font-size: 0.7rem;
    line-height: 0.87rem;
  }

  .bloglist .head {
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 4rem;
  }
  .bloglist .text {
    height: 6rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .buttn-cont {
    margin-top: 0.2rem;
  }
  .buttn-cont {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  /* .blog-img img{
    object-fit: cover;
    height: 1rem;
    border-radius: var(--border-radius8);
    margin-bottom: 0.6rem;
  } */
  .flex-view {
    display: flex;
    margin-bottom: 5rem;
  }
  .flex {
    margin-left: 0.8rem;
  }
  .bloglist .head {
    height: 3.5rem;
    width: 20rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .bloglist .text {
    width: 20rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .flex-view img {
    margin-top: 1rem;
  }
  .bloglist .head {
    height: 6rem;
  }
  .blog-text-p {
    font-size: 1.3rem;
  }
}

/*********************************** WE CREATE START OF ABOUT US SECTION ***************************/
.bg1 {
  background: url(../imgs/wecreate/worldmap\ 1.svg);
  background-position: top right;
  background-repeat: no-repeat;

}
.contact_us .contact_header {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  color: #EBEDEF;
}

.contact_us .contact_sub_header {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #F2F7FB;
}

.bg2 {
  background: url(../imgs/wecreate/worldmap\ 2.svg);
  background-position: top left;
  background-repeat: no-repeat;
  /* margin-bottom: 4rem; */
}
.contt {
  height: 100%;
}
.we-create {
  margin: 64px auto;
}
.we-create h1 {
  font-family: 'Inter', sans-serif;
  font-size: 52px;
  line-height: 140%;
  font-weight: 600;
  width: 100%;
  color: var(--bird-blue-grey-1000);
}
.we-create span {
  color: var(--primary-900);
}
.we-create p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--bird-blue-grey-900);
  width: 80%;
  max-width: 1041px;
  margin-bottom: 0;
}

.we-create-image {
  width: 100%;
}

.bg2 .we-create {
  margin-left: 0;
}

.bg2 .we-create h1 {
  font-size: 44px;
}

.bg2 .we-create p {
  max-width: 874px;
}

/*********************************** STAT ***************************/

.container- {
  background-color: var(--primary-900);
  padding: 64px 0;
}
.container- .p {
  color: var(--primary-100);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;

  text-align: center;
}
.container- p {
  color: var(--primary-100);
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.container- h1 {
  color: var(--primary-100);
  font-weight: 600;
  font-size: 2.88rem;
  line-height: 2.88rem;
  text-align: center;
}
.container- h2 {
  color: var(--primary-100);
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 1rem;
  text-align: center;
}
.container- .flex- {
  width: 1000px;
}
.content- {
  width: 100%;
  max-width: 864px;
  margin: 0 auto;
}

.flex- h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.flex- p {
  font-weight: 500;
  line-height: 100%;
  font-size: 24px;
}

/*********************************** MEET ***************************/
.our-team {
  padding-top: 50px;
  padding-bottom: 3rem;
}
.meet h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 140%;
  color: var(--bird-blue-grey-1000);
}
.meet span {
  color: var(--primary-900);
}
.meet p {
  font-weight: 400;
  font-size: 20px;
  max-width: 59.625rem;
  text-align: center;
  margin: 0 auto;
  line-height: 140%;
  color: var(--bird-blue-grey-900);
}

.profile {
  /* width: 25%; */
  /* background-color: red; */
}

.profile img {
  object-fit: cover;
  width: 90%;
  max-width: 302px;
  height: 345px;
}

.profile h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: black;
}
.profile .position {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--bird-blue-grey-1000);
}
.profile .profile-desc {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

/*********************************** WE CREATE  RESPONSIVENESS***************************/

@media (max-width: 450px){
  .contact_us {
    height: 128px !important;
    background-position: top left !important;
    background-size: 380% !important;
  }

  .contact_header {
    font-weight: 400 !important;
    font-size: 16px !important;
    text-align: left !important;
    margin-left: 15px;
  }

  .contact_sub_header {
    font-size: 32px !important;
    text-align: left !important;
    margin-left: 15px;
  }

  .we-create {
    margin-bottom: 31px;
  }

  .we-create h1 {
    font-size: 24px;
    line-height: 130%;
    margin: 0 16px 16px 16px;
    width: auto;
  }

  .we-create p {
    margin: 0 16px;
    margin-bottom: 10px;
    width: auto;
    font-size: 14px;
  }

  .bg2 .we-create h1 {
    font-size: 24px;
  }

  .container- h2 {
    font-size: 20px;
    line-height: 120%;
  }

  .container- .flex- {
    width: auto;
    /* justify-content: space-between !important; */
  }

  .flex- h1 {
    font-size: 24px;
  }

  .flex- p {
    font-size: 12px;
  }

  .our-team {
    padding-top: 30px;
  }

  .meet h1 {
    font-size: 24px;
  }

  .meet p {
    font-size: 14px;
  }

  .profile h6 {
    font-size: 16px;
  }

  .profile .position {
    font-size: 12px;
    margin-bottom: 0.5rem
  }

  .profile .profile-desc {
    font-size: 14px;
  }
}

@media (min-width: 450px) and (max-width: 990px) {
  .bg1 {
    background: url(../imgs/wecreate/worldmap\ 1.svg);
    background-position: top right;
    background-repeat: no-repeat;
  }
  .bg2 {
    background: url(../imgs/wecreate/worldmap\ 2.svg);
    background-position: top left;
    background-repeat: no-repeat;
  }
  .contt {
    height: 100%;
  }
  .we-create {
    height: 25rem;
  }
  .we-create h1 {
    font-size: 2.75rem;
    line-height: 3.5rem;
  }

  .we-create p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .we-create-image {
    object-fit: cover;
    width: 100%;
    height: 15rem;
    margin-top: 6rem;
  }

  .container- {
    height: 20rem;
    margin-top: 6rem;
    background-color: var(--primary-900);
  }
  .container- .p {
    color: var(--primary-100);
    font-weight: 700;

    font-size: 0.7rem;

    text-align: center;
  }
  .container- p {
    color: var(--primary-100);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
  .container- h1 {
    color: var(--primary-100);
    font-weight: 800;
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: center;

    margin-bottom: -0.2rem;
  }
  .container- h2 {
    color: var(--primary-100);
    font-size: 2.7rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .meet h1 {
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 2.5rem;
  }

  .meet p {
    font-size: 1rem;
    line-height: 2.1rem;
  }

  .profile h6 {
    font-size: 1rem;
  }
  .profile p {
    font-size: 0.775rem;
    line-height: 2.1rem;
  }
}

/*********************************** END OF ABOUT US SECTION ***************************/

.t_name {
  color: var(--bird-blue-grey-100);
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-transform: capitalize;
}

.t_position {
  color: var(--bird-blue-grey-300);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.t_arrow {
  cursor: pointer;
}

.t_prev_arrow_cont,
.t_next_arrow_cont {
  padding: 1rem;
  cursor: pointer;
}

.t_prev_arrow_cont:hover,
.t_prev_arrow_cont:active,
.t_next_arrow_cont:hover,
.t_next_arrow_cont:active {
  outline: 1px solid var(--primary-100);
  border-radius: 50%;
}

@media(max-width: 450px){
  .t_text {
    font-size: 14px;
  }

  .t_prev_arrow_cont_md,
  .t_next_arrow_cont_md{
    margin: 0 30px 0 30px;
  }

  .t_text_cont {
    padding: 0px 16px;
    padding-bottom: 20px;
  }

  .t_text_cont img {
    width: 100%;
    height: auto;
  }
  
  .t_name {
    text-align: left;
  }

  .t_position {
    text-align: left;
  }
}

/*********************************** MANTRA SECTION ***************************/
.mantra_section {
  background-color: rgba(245, 254, 255, 1);
  font-family: 'Inter', sans-serif;
}

.mantra_heading {
  font-weight: 700;
  color: var(--bird-blue-grey-1000);
  font-size: 40px;
  line-height: 120%;
}

.mantra_text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.mantra_hammer_cont {
  width: 48px;
}

.mantra_hammer_cont img {
    width: 48px;
}

.mantra_small_heading {
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.mantra_hands_cont img {
  width: 100%;
  float: left;
}

@media (max-width: 450px){
  .mantra_column {
    width: 90%;
    margin: 0 auto;
  }
  .mantra_heading {
    font-size: 20px;
  }

  .mantra_hammer_cont {
    position: relative;
  }

  .mantra_hammer_cont img {
    width: 48px;
  }
}

/**************************CONTACT US STYLING********************/

.contact_us {
  background: linear-gradient(#144b63f5, #144b63f5, #144b63f6),
    url(../imgs/contact/bgimage.png);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 496px;
}

.contact_us div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_sub_header {
  color: var(--white);
}

.contact_sub_header {
  font-size: 64px;
  color: var(--white);
}

.contact-section .header {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #384147
}

.header {
  font-size: 46px;
}

.cont-get {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  color: #62717B;
}

.icon-bg {
  background-color: var(--primary-600);
}

.contact-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px !important;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #000
}

.contact-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #505C65;
}

#form {
  background-color: var(--white);
  border: 1px solid #EBEDEF;
  padding: 48px;
}

#form label {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
}

#form input {
  border: none;
  font-size: 14px;
}

.form-header {
  height: auto;
}

.form-header h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #384147;
}

.form-header p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 0;
}

input,
textarea,
select {
  background-color: var(--primary-100);
}

#form button {
  background: var(--primary-600);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 450px){
  #form-sect {
    margin: 0 10px !important;
  }

  .contact-section .header {
    font-size: 32px;
  }

  .cont-get {
    width: auto !important;
    font-size: 16px;
    margin: 15px 0 !important;
  }

  .contact_div {
    padding: 0 !important;
  }

  .contact-title {
    font-size: 14px;
  }

  .contact-text {
    font-size: 14px;
  }

  #form {
    padding: 24px 16px;
  }
}
